#section1{
    background-image: url("../../assets/img/sus1.png"), url("../../assets/img/sus2.png");
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: 52.2% 100%, 47.8% 100%;
    height: 1000px;
    border-top: #000 5px solid;
    border-bottom: #000 5px solid;
}

#title{
    text-align: center;
    font-family: "Press Start 2P", monospace;
    padding: 75px;
    height: 75px;
    width: 400px;
    position: relative;
    left: 200px;
    top: 300px;
    background-color: #828282;
    box-shadow: 8px 8px;
    text-shadow: 4px 4px black;
}

#title h1{
    color: aqua;
}

#title h3{
    color: white;
}

#nav2{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 110px;
}

#separator{
    display: flex;
    background-color: black;
    width: 8px;
    height: 1000px;
    position: relative;
    left: 52.2%;
    bottom: 22.5%;
    
}