#section2{
    text-align: center;
    font-family: 'Press Start 2P', monospace;
    height: 500px;
    margin: 0px 20%;
    border-left: black 5px solid;
    border-right: black 5px solid;
    border-bottom: black 5px solid;
    background-color: #808080;
    padding: 5px
}

#sec2Border{
    border: rgb(85, 84, 84) 7px dotted;
    height: calc(100% - 14px);
}

#section2 h1{
    color: white;
    position: relative;
    top: 30px;
    text-shadow: 5px 5px black;
}

.suspectometerBox{
    color:white;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
    row-gap: 20px;
    position: relative;
    top: 80px;
  
}

.suspectometerBox div{
    display:inline-flex;
    justify-content: center;
    padding: 5px 0;
}

.suspectometerBox>div:hover{
    /*outline: 3px dashed white;*/
    background: 
    linear-gradient(90deg, #fff 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #fff 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #fff 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #fff 50%, transparent 0) repeat-y;
background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
background-position:0 0, 0 100%, 0 0, 100% 0;
animation: linearGradientMove .3s infinite linear;

}

@keyframes linearGradientMove {
    100% {
        background-position: 15px 0, -15px 100%, 0 -15px, 100% 15px;
    }
}

.suspectometerBox img{
    width: 50px;
    height: 70px;
    margin-right: 10px;
}

.susContent{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-shadow: 3px 3px black;
}

.loader{
    margin-top: 10px;
    background-color: white;
    border: black solid;
    width: 150px;
    height: 20px;
}

.loader::after {
content: "";
display: flex;
height: 100%;
background-color: #007A99;
transition: width 0.3s ease-in-out;

}

.suspectometerBox div:hover .loader::after{
    width: 100%;
}

.cyanSus {
    color: cyan;
}

.cyanSus .loader::after{
    width: 95%;
}

.redSus{
    color: red;
}

.redSus .loader::after{
    width: 85%;
}

.greenSus{
    color: green;
}

.greenSus .loader::after{
    width: 20%;
}

.blueSus{
    color: blue;
}

.blueSus .loader::after{
    width: 70%;
}

.whiteSus{
    color: white;
}

.whiteSus .loader::after{
    width: 5%;
}


.blackSus{
    color: black;
}

.blackSus .susContent{
    text-shadow: 3px 3px white;

}

.blackSus .loader::after{
    width: 15%;
}

.purpleSus{
    color: #7e33b3;
}

.purpleSus .loader::after{
    width: 30%;
}

.pinkSus{
    color: #f84ca8;
}

.pinkSus .loader::after{
    width: 60%;
}

